{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(class="form-control", placeholder="Enter your username") }}
        </div>
        <div>
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control", placeholder="Enter your password") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Register here.</a>
</div>
{% endblock %}
